@import "variables.scss";

.start-button {
  &.md {
    margin: 10px;
  }
}

.next-button {
  zoom: 130%;
}

.kanji-choice {
  /* min-width: 25vw;
  max-width: 30vw; */
  font-size: 40px;

  @media only screen and (min-width: 720px) {
    min-width: unset;
  }
}

.japanese_reading {
  font-size: 24px;
}

.english-translation {
  font-size: 20px;
}

.highlighted_section {
  color: var(--ion-color-primary);
}

.main_word {
  font-size: 40px;
}

.success {
  color: var(--ion-color-success);
}

.danger,
.failure {
  color: var(--ion-color-danger);
}

.selected {
  opacity: 1;
  --opacity: 1;
}

.quiz-query-card {
  &.ios {
    margin: 8px;
  }
}

.quizzard {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.kanji-choice-grid {
  //max-width: 768px;
  margin: 5px;
  .choices-container {
    display: grid;
    grid-gap: 10px 10px;

    &.buttons-hard {
      grid-template-columns: repeat(3, minmax(90px, 120px));
      @media only screen and (min-width: 400px) {
        grid-template-columns: repeat(4, minmax(90px, 120px));
      }
    }
    &.buttons-medium,
    &.buttons-easy {
      grid-template-columns: repeat(2, minmax(90px, 120px));
      @media only screen and (min-width: 400px) {
        grid-template-columns: repeat(4, minmax(90px, 120px));
      }
    }

    .button-container {
      --padding-start: auto;
      --padding-end: auto;
      width: 100%;
      padding-bottom: 100%;
      position: relative;
      .kanji-choice {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        margin: 0;

        &.desktop {
          &::before {
            content: attr(data-altkey);
            font-size: 1rem;
            height: 30px;
            width: 30px;
            color: white;
            background: linear-gradient(135deg, rgba(230, 230, 230, 0.25) 50%, transparent 51%);
            //or rgba(230, 230, 230, .25)
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            text-align: center;
            box-sizing: border-box;
            /* padding-left: 4px; */
            border-top-left-radius: 3px;
            /* pointer-events: all; */
            cursor: pointer;
            padding: 0 12px 0 0;
          }
          &.button-disabled::before {
            //color: #333;
            background: linear-gradient(135deg, rgba(230, 230, 230, 0.55) 50%, transparent 51%);
            //background: linear-gradient(135deg, hsla(181, 0%, 27%, 0.45) 50%, transparent 50%);
          }
          &.button-outline::before {
            //padding: 1px 0 0 4px;
            border-top-left-radius: 4px;
            z-index: 0;
            background: linear-gradient(135deg, rgba(230, 230, 230, 0.2) 50%, transparent 51%);
          }
        }
      }
    }
  }
}

.unclickable {
  cursor: auto;
  pointer-events: none;
}
