@import "theme.css";
@import "theme-dark.css";

body:not(.dark) {
  ion-content {
    --ion-background-color: #eefeff;
  }
  ion-card {
    --background: white;
  }
}

ion-card ion-card-content ul {
  font-size: 20px;
}

.slide-menu-header {
  background-color: var(--ion-color-tertiary);
}

// iOS Styles

.ios {
  ion-card-header ~ ion-card-content {
    padding-top: 0;
  }
}

.welcome-card {
  max-width: 300px;
  margin: 10px auto;
  border-radius: 50px;

  @at-root body:not(.dark) #{selector_unify(ion-card, &)} {
    --background: rgba(56, 127, 255, 0.2);
  }

  img {
    max-height: 200px;
    height: 33vh;
    overflow: hidden;
    margin-bottom: 16px;
  }

  ion-card-header {
    --background: rgba(56, 127, 255, 0);
  }

  ion-card-title {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    font-size: 2.5rem;
  }

  // &::before,
  // &::after {
  //   content: "?";
  // }
}
