.kanji-choice {
  /* min-width: 25vw;
  max-width: 30vw; */
  font-size: 40px;

  @media only screen and (min-width: 720px) {
    min-width: unset;
  }
}

.japanese_reading {
  font-size: 24px;
}

.english-translation {
  font-size: 20px;
}

.furigana_section {
  color: var(--ion-color-primary);
}

.main_word {
  font-size: 40px;
}

.success {
  color: var(--ion-color-success);
}

.danger,
.failure {
  color: var(--ion-color-danger);
}

.selected {
  opacity: 1;
  --opacity: 1;
}

.quiz-query-card {
  &.ios {
    margin: 8px;
  }
}

.kanji-choice-grid {
  @media (min-width: 768px) {
    max-width: 768px;
  }
}
